{% extends 'base.html' %}

{% block title %}DocuSearcher search results{% endblock %}

{% block main %}
<br>
<br>
<br>
<h1>Searched for : "{{searched}}"</h1>
{% if results=='empty'%}

<h1>Nothing found try another search...</h1>
{% else %}

<div class="container-fluid">

  <h2>Was found in :</h2>
  <div class="card mb-4 shadow-sm">

        <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>File</th>

              <th>actions</th>
            </tr>
          </thead>
          <tbody>
              {% if results %}

               {% for key, value in results.items() %}
              <tr>
                <td>
                 <a href="{{ key }}">
                     <embed src="{{ key }}" width="100px" height="120px"  />
                     <p>{{ key }}</p>
                 </a>
                </td>

                <td>
                    <a href="/getdocument/{{ key }}" download=""><button >Download!</button></a>
                </td>
              </tr>
                {% endfor %}

               {% endif %}
          </tbody>
        </table>




</div>
</div>
</div>
{%endif%}
{%endblock%}